
.wrapper {
  min-height:100vh;
  display: grid;
  grid-gap:10px;
  grid-template-columns: 1fr;
  grid-template-rows: 95px auto 60px;
  grid-template-areas:
    'page-header'
    'content'
    'footer';
}

.page-header{
  grid-area:page-header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.resume-logo{
  grid-column: 1 / 2;
}

.main-nav {
  grid-column: 3 / 5;
}

.index-main{
  grid-area:content;
}

.resource-main{
  grid-area:content;
  display:grid;
  grid-gap:10px;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas: 'examples';
  border: 1px solid #000;
}

.examples{
  grid-area: examples;
  display:grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: auto;
  grid-template-areas:
  'header'
  'example';
    border: 1px solid #000;
}

.example-header {
  grid-area: header;
  border: 1px solid #000;
}

.example{
  grid-area: example;
  border: 1px solid #000;
}

/*.links{
  grid-column: 1 / 3;
  grid-row: 2 / 5;
    border: 1px solid #000;
}

.news{
  grid-column: 3 / 6;
  grid-row: 2 / 5;
    border: 1px solid #000;
}*/
.footer{
  grid-area:footer;
}
